.ingredient-section {
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.nutrition ul {
    list-style-type: none;
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.nutrition li {
    width: calc(33.33% - 20px); /* 33.33% width with a little space between items */
    display: inline-block;
    box-sizing: border-box; /* Include padding and border in the total width */
    margin: 10px; /* Adjust as needed for spacing */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

h2 {
    color: #555;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}